/* Global settings */

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  background: rgba(0, 0, 0, 0.025);
  height: 10vh;
}

h1 a {
  font-size: 2rem;
}

h1 a:hover {
  cursor: pointer;
}

li {
  display: inline-block;
}

nav li a {
  font-size: 1.25rem;
  margin-left: 2rem;
  text-decoration: solid;
  color: #000;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 0.5em;
}

nav li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #000;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

nav li a:hover::after,
nav li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Welcome page */

.welcome-wrapper {
  background-image: url("/images/welcome.jpg");
  background-size: cover;
  min-height: 90vh;
  max-width: 100vw;
}
